
h2{
	text-align: center;
}

.bigbox{
    width: 1000px;
    margin: auto;    
}

.smallbox {
    border-width: 1px;
    width: 1000px;
  	margin: 20px;
  	padding: 10px;
}

.left {
	float:left;
	width: 30%;
}

.right {
	float:left;
	width: 65%;
}

.card {
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    width: 120px;
    display: inline-block;
    white-space: nowrap;
    text-align: text;
}

p{
    text-align: text;
}

.container{
    text-align: text;
}

.input_box{
    text-align: center;
    margin: auto;
    padding: 200px;
    position: center;
}